
@{
    ViewBag.Title = "Index";
}
<div class="span12">
    <!-- /widget -->
    <div class="widget widget-nopad">
        <div class="widget-header">
            <i class="icon-list-alt"></i>
            <h3>Add Income/Expenditure</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            <div class="widget big-stats-container" style="margin-bottom:0px">
                <div class="widget-content">
                    <div class="form-inline">
                            <!-- /controls -->
                            <div class="form-group">
                                <label for="Date">Enter Date</label>
                                <input class="form-control" id="Date" type="date" value="Enter Date">
                            </div>

                            <div class="form-group">
                                <label for="Amount">Enter Amount</label>
                                <input class="form-control" id="Amount" type="number" value="Enter Amount">
                            </div>

                            <div class="form-actions" style="margin:0px">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                    </div>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"> Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                <!-- /widget-content -->

            </div>
        </div>
    </div>
</div>