<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#people" role="tab" aria-controls="nav-People" aria-selected="true">People</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#permissions" role="tab" aria-controls="nav-Permissions" aria-selected="false">Permissions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#permissions" role="tab" aria-controls="nav-Permissions" aria-selected="false">Person-Permissions</a>
    </li>
</ul>