<ul class="nav" id="side-menu">
    <li style="padding: 70px 0 0;">
        <a href="/Admin/Dashboard" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
    </li>
    <li>
        <a href="/Admin/Profile" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Profile</a>
    </li>
    <li>
        <a href="/Admin/BasicTable" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Basic Table</a>
    </li>
    <li>
        <a href="/Admin/Icons" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i>Icons</a>
    </li>
    <li>
        <a href="/Admin/GoogleMap" class="waves-effect"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>Google Map</a>
    </li>
    <li>
        <a href="/Admin/BlankPage" class="waves-effect"><i class="fa fa-columns fa-fw" aria-hidden="true"></i>Blank Page</a>
    </li>
    
</ul>

